.recipeContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(248, 248, 248);
}

.sampleRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  justify-self: normal;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 2px;
  width: 30vw;
  /* height: 45vh; */
  margin-bottom: 1rem;
  border-radius: 15px;
  background-color: white;
}

.sampleRecipe:hover {
  box-shadow: 0px 0px 0px rgb(255, 255, 255), 0 0 12px #84898f, 0 0 3px snow;
  transition-duration: 0.3s;
  transform: scale(1.02);
}

.sampleRecipe img {
  width: 40%;
  border-radius: 100%;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b2938;
  color: whitesmoke;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.load-more-button {
  font-size: 15px;
  width: auto;
}

.loadmore-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh;
  background-color: rgb(44, 51, 66);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .sampleRecipe {
    width: 30vw;
    /* height: 45vh; */
    margin-bottom: 1rem;
    border-radius: 15px;
  }
  .sampleRecipe img {
    width: 50%;
    border-radius: 100%;
  }

  .sampleRecipe:hover {
    box-shadow: 0px 0px 0px rgb(255, 255, 255), 0 0 12px #84898f, 0 0 3px snow;
    transition-duration: 0.3s;
  }

  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .sampleRecipe {
    width: 40vw;
    /* height: 45vh; */
    margin-bottom: 1rem;
    border-radius: 15px;
  }
  .sampleRecipe img {
    width: 50%;
    border-radius: 100%;
  }
  .sampleRecipe:hover {
    box-shadow: 0px 0px 0px rgb(255, 255, 255), 0 0 12px #84898f, 0 0 3px snow;
    transition-duration: 0.3s;
  }
  .search-form button {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .sampleRecipe {
    width: 85vw;
    /* height: 55vh; */
    margin-bottom: 1rem;
    border-radius: 15px;
  }
  .sampleRecipe img {
    width: 60%;
    border-radius: 100%;
  }
  .sampleRecipe:hover {
    box-shadow: 0px 0px 0px rgb(255, 255, 255), 0 0 12px #84898f, 0 0 3px snow;
    transition-duration: 0.3s;
  }

  .search-form button {
    display: none;
  }

  .nav-links {
    width: 70%;
  }
}

.ab {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .navigationContainer {
  display: flex;
  height: 10vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: teal;
  color: wheat;
  padding: 1rem;
} */
