.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    min-height: 100vh;
    padding: 1em;
    align-items: center;
    font-size: calc(5px + 2vmin);
    color: rgb(0, 68, 85);
  }
  
  .footer {
  background-color: rgb(226, 207, 207);
  }
  
  .body-recipe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  img {
    margin-top: 3px;
    border-radius: 50%;
    width: 50vw;
}